<h1>Welcome to rock, paper, scissors, the game!</h1>
<p>To play, have player 1 add a forward slash, followed by  'rock', 'paper', or 'scissors' on to the url.</p>
<p>Then, have player 2 do the same, then hit enter.</p>
<p>The site will tell you the result!</p>
