<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Rock Paper Scissors</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>
  <nav>
    <p><a href="/">Home</a></p>
  </nav>
  <%= yield %>
</body>
</html>
